<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.FileMapper">

  <insert id="insert">
    INSERT INTO file(fileName, note)
    VALUES(#{fileName}, #{note})
  </insert>
  
  <select id="selectByFileName" resultType="File">
    SELECT * FROM file
    WHERE fileName = #{fileName}
  </select>
  
  <select id="selectAll" resultType="File">
    SELECT * FROM file
  </select>
  
  <delete id="deleteByFileName">
    DELETE FROM file
    WHERE fileName = #{fielName}
  </delete>

</mapper>